# Michelin Star Restuarants for New York City and San Francisco

## Imports and Reading in CSVs

In [31]:
import panel as pn
pn.extension('plotly')
import plotly.express as px
import pandas as pd
import hvplot.pandas
import matplotlib.pyplot as plt
import numpy as np
import os
from pathlib import Path
from dotenv import load_dotenv
from panel.interact import interact
from panel import widgets

In [7]:
file_path = Path("Data/one-star-michelin-restaurants.csv")
one_star_data = pd.read_csv(file_path, index_col='year')
one_star_data.head()

,name,latitude,longitude,city,region,zipCode,cuisine,price,url
year,,,,,,,,,
2019,Kilian Stuba,47.348580,10.17114,Kleinwalsertal,Austria,87568,Creative,$$$$$,https://guide.michelin.com/at/en/vorarlberg/kl...
2019,Pfefferschiff,47.837870,13.07917,Hallwang,Austria,5300,Classic cuisine,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...
2019,Esszimmer,47.806850,13.03409,Salzburg,Austria,5020,Creative,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...
2019,Carpe Diem,47.800010,13.04006,Salzburg,Austria,5020,Market cuisine,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...
2019,Edvard,48.216503,16.36852,Wien,Austria,1010,Modern cuisine,$$$$,https://guide.michelin.com/at/en/vienna/wien/r...

In [8]:
file_path = Path("Data/two-stars-michelin-restaurants.csv")
two_star_data = pd.read_csv(file_path, index_col= 'year')
two_star_data.head()

,name,latitude,longitude,city,region,zipCode,cuisine,price,url
year,,,,,,,,,
2019,SENNS.Restaurant,47.83636,13.06389,Salzburg,Austria,5020,Creative,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...
2019,Ikarus,47.79536,13.00695,Salzburg,Austria,5020,Creative,$$$$$,https://guide.michelin.com/at/en/salzburg-regi...
2019,Mraz & Sohn,48.23129,16.37637,Wien,Austria,1200,Creative,$$$$$,https://guide.michelin.com/at/en/vienna/wien/r...
2019,Konstantin Filippou,48.21056,16.37996,Wien,Austria,1010,Modern cuisine,$$$$$,https://guide.michelin.com/at/en/vienna/wien/r...
2019,Silvio Nickol Gourmet Restaurant,48.20558,16.37693,Wien,Austria,1010,Modern cuisine,$$$$$,https://guide.michelin.com/at/en/vienna/wien/r...

In [9]:
file_path = Path("Data/three-stars-michelin-restaurants.csv")
three_star_data = pd.read_csv(file_path, index_col= 'year')
three_star_data.head()

,name,latitude,longitude,city,region,zipCode,cuisine,price,url
year,,,,,,,,,
2019,Amador,48.25406,16.35915,Wien,Austria,1190,Creative,$$$$$,https://guide.michelin.com/at/en/vienna/wien/r...
2019,Manresa,37.22761,-121.98071,South San Francisco,California,95030,Contemporary,$$$$,https://guide.michelin.com/us/en/california/so...
2019,Benu,37.78521,-122.39876,San Francisco,California,94105,Asian,$$$$,https://guide.michelin.com/us/en/california/sa...
2019,Quince,37.79762,-122.40337,San Francisco,California,94133,Contemporary,$$$$,https://guide.michelin.com/us/en/california/sa...
2019,Atelier Crenn,37.79835,-122.43586,San Francisco,California,94123,Contemporary,$$$$,https://guide.michelin.com/us/en/california/sa...

## NYC One Star Information

In [10]:
nyc_one_star_data = one_star_data.loc[one_star_data['city'] == 'New York']
nyc_one_star_data.head()

,name,latitude,longitude,city,region,zipCode,cuisine,price,url
year,,,,,,,,,
2019,Del Posto,40.743270,-74.00770,New York,New York City,10011,Italian,$$$$,https://guide.michelin.com/us/en/new-york-stat...
2019,Le Grill de Joël Robuchon,40.742897,-74.00770,New York,New York City,NaN,French,$$$$,https://guide.michelin.com/us/en/new-york-stat...
2019,L'Appart,40.711903,-74.01544,New York,New York City,10281,French,$$$$,https://guide.michelin.com/us/en/new-york-stat...
2019,Okuda,40.743793,-74.00633,New York,New York City,NaN,Japanese,$$$$,https://guide.michelin.com/us/en/new-york-stat...
2019,Wallsé,40.735380,-74.00814,New York,New York City,10014,Austrian,$$$$,https://guide.michelin.com/us/en/new-york-stat...

In [11]:
nyc_one_df = nyc_one_star_data.drop(['latitude', 'longitude', 'zipCode', 'url', 'region'], axis=1)
nyc_one_df = nyc_one_df.set_index('city')
nyc_one_df.head()

                               name   cuisine price
city
New York                  Del Posto   Italian  $$$$
New York  Le Grill de Joël Robuchon    French  $$$$
New York                   L'Appart    French  $$$$
New York                      Okuda  Japanese  $$$$
New York                     Wallsé  Austrian  $$$$

In [33]:
nyc_one_df['cuisine'].value_counts()

Japanese         16
Contemporary      9
Italian           4
American          4
French            4
Mexican           3
Korean            3
Mediterranean     2
Spanish           1
Fusion            1
Scandinavian      1
Chinese           1
Vegetarian        1
Thai              1
Indian            1
Seafood           1
Austrian          1
Steakhouse        1
Name: cuisine, dtype: int64

In [42]:
nyc_one_bar = nyc_one_df.plot.bar(x = 'cuisine', y =)
nyc_one_bar

TypeError: no numeric data to plot

In [12]:
nyc_one_df.isnull().sum()

name       0
cuisine    0
price      0
dtype: int64

### Location Data

In [13]:
nyc_one_loc = nyc_one_star_data.drop(['cuisine', 'url', 'price', 'zipCode', 'region'], axis=1)
nyc_one_loc = nyc_one_loc.set_index('city')
nyc_one_loc.head()

                               name   latitude  longitude
city
New York                  Del Posto  40.743270  -74.00770
New York  Le Grill de Joël Robuchon  40.742897  -74.00770
New York                   L'Appart  40.711903  -74.01544
New York                      Okuda  40.743793  -74.00633
New York                     Wallsé  40.735380  -74.00814

In [14]:
nyc_one_loc.isnull().sum()

name         0
latitude     0
longitude    0
dtype: int64

## NYC Two Star Information

In [15]:
nyc_two_star_data = two_star_data.loc[two_star_data['city'] == 'New York']
nyc_two_star_data.head()

,name,latitude,longitude,city,region,zipCode,cuisine,price,url
year,,,,,,,,,
2019,L'Atelier de Joël Robuchon,40.742905,-74.00769,New York,New York City,NaN,French,$$$$,https://guide.michelin.com/us/en/new-york-stat...
2019,Jungsik,40.718685,-74.00911,New York,New York City,10013,Korean,$$$$,https://guide.michelin.com/us/en/new-york-stat...
2019,Atera,40.716797,-74.00565,New York,New York City,10013,Contemporary,$$$$,https://guide.michelin.com/us/en/new-york-stat...
2019,Jean-Georges,40.769070,-73.98155,New York,New York City,10023,Contemporary,$$$$,https://guide.michelin.com/us/en/new-york-stat...
2019,Marea,40.767490,-73.98114,New York,New York City,10019,Seafood,$$$$,https://guide.michelin.com/us/en/new-york-stat...

In [16]:
nyc_two_df = nyc_two_star_data.drop(['latitude', 'longitude', 'zipCode', 'url', 'region'], axis=1)
nyc_two_df = nyc_two_df.set_index('city')
nyc_two_df.head()

                                name       cuisine price
city
New York  L'Atelier de Joël Robuchon        French  $$$$
New York                     Jungsik        Korean  $$$$
New York                       Atera  Contemporary  $$$$
New York                Jean-Georges  Contemporary  $$$$
New York                       Marea       Seafood  $$$$

### Location Data

In [17]:
nyc_two_loc = nyc_two_star_data.drop(['cuisine', 'url', 'price', 'zipCode', 'region'], axis=1)
nyc_two_loc = nyc_two_loc.set_index('city')
nyc_two_loc.head()

                                name   latitude  longitude
city
New York  L'Atelier de Joël Robuchon  40.742905  -74.00769
New York                     Jungsik  40.718685  -74.00911
New York                       Atera  40.716797  -74.00565
New York                Jean-Georges  40.769070  -73.98155
New York                       Marea  40.767490  -73.98114

In [18]:
nyc_two_loc.isnull().sum()

name         0
latitude     0
longitude    0
dtype: int64

## NYC Three Star Information

In [19]:
nyc_three_star_data = three_star_data.loc[three_star_data['city'] == 'New York']
nyc_three_star_data.head()

,name,latitude,longitude,city,region,zipCode,cuisine,price,url
year,,,,,,,,,
2019,Masa,40.76855,-73.98335,New York,New York City,10019,Japanese,$$$$,https://guide.michelin.com/us/en/new-york-stat...
2019,Per Se,40.76828,-73.98292,New York,New York City,10019,Contemporary,$$$$,https://guide.michelin.com/us/en/new-york-stat...
2019,Le Bernardin,40.76177,-73.98223,New York,New York City,10019,Seafood,$$$$,https://guide.michelin.com/us/en/new-york-stat...
2019,Eleven Madison Park,40.74170,-73.98712,New York,New York City,10010,Contemporary,$$$$,https://guide.michelin.com/us/en/new-york-stat...
2019,Chef's Table at Brooklyn Fare,40.68872,-73.98581,New York,New York City,10018,Contemporary,$$$$,https://guide.michelin.com/us/en/new-york-stat...

In [20]:
nyc_three_df = nyc_three_star_data.drop(['latitude', 'longitude', 'zipCode', 'url', 'region'], axis=1)
nyc_three_df = nyc_three_df.set_index('city')
nyc_three_df.head()

                                   name       cuisine price
city
New York                           Masa      Japanese  $$$$
New York                         Per Se  Contemporary  $$$$
New York                   Le Bernardin       Seafood  $$$$
New York            Eleven Madison Park  Contemporary  $$$$
New York  Chef's Table at Brooklyn Fare  Contemporary  $$$$

### Location Data

In [21]:
nyc_three_loc = nyc_three_star_data.drop(['cuisine', 'url', 'price', 'zipCode', 'region'], axis=1)
nyc_three_loc = nyc_three_loc.set_index('city')
nyc_three_loc.head()

                                   name  latitude  longitude
city
New York                           Masa  40.76855  -73.98335
New York                         Per Se  40.76828  -73.98292
New York                   Le Bernardin  40.76177  -73.98223
New York            Eleven Madison Park  40.74170  -73.98712
New York  Chef's Table at Brooklyn Fare  40.68872  -73.98581

## SF One Star Information

In [22]:
sf_one_star_data = one_star_data.loc[one_star_data['city'] == 'San Francisco']
sf_one_star_data.head()

,name,latitude,longitude,city,region,zipCode,cuisine,price,url
year,,,,,,,,,
2019,Madera,37.420140,-122.211510,San Francisco,California,94025,Contemporary,$$$,https://guide.michelin.com/us/en/california/sa...
2019,The Village Pub,37.428970,-122.251780,San Francisco,California,94062,Contemporary,$$$,https://guide.michelin.com/us/en/california/sa...
2019,Wakuriya,37.521140,-122.336600,San Francisco,California,94402,Japanese,$$$$,https://guide.michelin.com/us/en/california/sa...
2019,Sushi Yoshizumi,37.565075,-122.321100,San Francisco,California,94401,Japanese,$$$$,https://guide.michelin.com/us/en/california/sa...
2019,Rasa,37.577522,-122.345985,San Francisco,California,94010,Indian,$$,https://guide.michelin.com/us/en/california/sa...

In [23]:
sf_one_df = sf_one_star_data.drop(['latitude', 'longitude', 'zipCode', 'url', 'region'], axis=1)
sf_one_df = sf_one_df.set_index('city')
sf_one_df.head()

                          name       cuisine price
city
San Francisco           Madera  Contemporary   $$$
San Francisco  The Village Pub  Contemporary   $$$
San Francisco         Wakuriya      Japanese  $$$$
San Francisco  Sushi Yoshizumi      Japanese  $$$$
San Francisco             Rasa        Indian    $$

### Location Data

In [24]:
sf_one_loc = sf_one_star_data.drop(['cuisine', 'url', 'price', 'zipCode', 'region'], axis=1)
sf_one_loc = sf_one_loc.set_index('city')
sf_one_loc.head()

                          name   latitude   longitude
city
San Francisco           Madera  37.420140 -122.211510
San Francisco  The Village Pub  37.428970 -122.251780
San Francisco         Wakuriya  37.521140 -122.336600
San Francisco  Sushi Yoshizumi  37.565075 -122.321100
San Francisco             Rasa  37.577522 -122.345985

## SF Two Star Information

In [25]:
sf_two_star_data = two_star_data.loc[two_star_data['city'] == 'San Francisco']
sf_two_star_data.head()

,name,latitude,longitude,city,region,zipCode,cuisine,price,url
year,,,,,,,,,
2019,Commis,37.824760,-122.255050,San Francisco,California,94601,Contemporary,$$$$,https://guide.michelin.com/us/en/california/sa...
2019,Californios,37.755550,-122.417145,San Francisco,California,94110,Mexican,$$$$,https://guide.michelin.com/us/en/california/sa...
2019,Lazy Bear,37.760204,-122.419690,San Francisco,California,94110,Contemporary,$$$$,https://guide.michelin.com/us/en/california/sa...
2019,Saison,37.763270,-122.415430,San Francisco,California,94107,Californian,$$$$,https://guide.michelin.com/us/en/california/sa...
2019,Campton Place,37.789230,-122.406650,San Francisco,California,94108,Indian,$$$$,https://guide.michelin.com/us/en/california/sa...

In [26]:
sf_two_df = sf_two_star_data.drop(['latitude', 'longitude', 'zipCode', 'url', 'region'], axis=1)
sf_two_df = sf_two_df.set_index('city')
sf_one_df.head()

                          name       cuisine price
city
San Francisco           Madera  Contemporary   $$$
San Francisco  The Village Pub  Contemporary   $$$
San Francisco         Wakuriya      Japanese  $$$$
San Francisco  Sushi Yoshizumi      Japanese  $$$$
San Francisco             Rasa        Indian    $$

### Location Data

In [27]:
sf_two_loc = sf_two_star_data.drop(['cuisine', 'url', 'price', 'zipCode', 'region'], axis=1)
sf_two_loc = sf_two_loc.set_index('city')
sf_two_loc.head()

                        name   latitude   longitude
city
San Francisco         Commis  37.824760 -122.255050
San Francisco    Californios  37.755550 -122.417145
San Francisco      Lazy Bear  37.760204 -122.419690
San Francisco         Saison  37.763270 -122.415430
San Francisco  Campton Place  37.789230 -122.406650

## SF Three Star Information

In [28]:
sf_three_star_data = three_star_data.loc[three_star_data['city'] == 'San Francisco']
sf_three_star_data.head()

,name,latitude,longitude,city,region,zipCode,cuisine,price,url
year,,,,,,,,,
2019,Benu,37.78521,-122.39876,San Francisco,California,94105,Asian,$$$$,https://guide.michelin.com/us/en/california/sa...
2019,Quince,37.79762,-122.40337,San Francisco,California,94133,Contemporary,$$$$,https://guide.michelin.com/us/en/california/sa...
2019,Atelier Crenn,37.79835,-122.43586,San Francisco,California,94123,Contemporary,$$$$,https://guide.michelin.com/us/en/california/sa...
2019,The French Laundry,38.40443,-122.36474,San Francisco,California,94599,Contemporary,$$$$,https://guide.michelin.com/us/en/california/sa...
2019,The Restaurant at Meadowood,38.52025,-122.46479,San Francisco,California,94574,Contemporary,$$$$,https://guide.michelin.com/us/en/california/sa...

In [29]:
sf_three_df = sf_three_star_data.drop(['latitude', 'longitude', 'zipCode', 'url', 'region'], axis=1)
sf_three_df = sf_three_df.set_index('city')
sf_three_df.head()

                                      name       cuisine price
city
San Francisco                         Benu         Asian  $$$$
San Francisco                       Quince  Contemporary  $$$$
San Francisco                Atelier Crenn  Contemporary  $$$$
San Francisco           The French Laundry  Contemporary  $$$$
San Francisco  The Restaurant at Meadowood  Contemporary  $$$$

### Location Data

In [30]:
sf_three_loc = sf_three_star_data.drop(['cuisine', 'url', 'price', 'zipCode', 'region'], axis=1)
sf_three_loc = sf_three_loc.set_index('city')
sf_three_loc.head()

                                      name  latitude  longitude
city
San Francisco                         Benu  37.78521 -122.39876
San Francisco                       Quince  37.79762 -122.40337
San Francisco                Atelier Crenn  37.79835 -122.43586
San Francisco           The French Laundry  38.40443 -122.36474
San Francisco  The Restaurant at Meadowood  38.52025 -122.46479